{% render 'partials/head.liquid', title: 'Squad page' %}

<h1>SQUAD</h1>

<div class="sorteer">
  <select name="Leeftijd">
    <option value="">Leeftijd</option>
    <option value="oud-jong"> Oud → Jong </option>
    <option value="jong-oud"> Jong → Oud </option>
  </select>

  <select name="naam">
    <option value="">Naam</option>
    <option value="A-Z"> A → Z </option>
    <option value="Z-A"> Z → A </option>
  </select>

    <select name="Leeftijd">
    <option value="">Leeftijd</option>
    <option value="oud-jong"> Oud → Jong </option>
    <option value="jong-oud"> Jong → Oud </option>
  </select>

    <select name="Leeftijd">
    <option value="">Leeftijd</option>
    <option value="oud-jong"> Oud → Jong </option>
    <option value="jong-oud"> Jong → Oud </option>
  </select>
</div>

  <div class="persons">

    {% for person in persons %}
      <article>

        {% if person.name %}
        <h2>{{ person.name }}</h2>
        {% else %}
        <h2>Mr/ms NoName</h2>
        {% endif %}

        <div class="wrapper">
        {% if person.mugshot %}
          <img src="https://fdnd.directus.app/assets/{{  person.mugshot }}?width=500">
        {% else %}
          <img src="/smeagle.jpeg">
        {% endif %}
        </div>

        <p class="nickname" >{{ person.nickname }}</p>

        {% if person.birthdate %}
        <p class="geboortedatum" >{{ person.birthdate }}</p>
        {% else %}
          <p>leeftijd Onbekend</p>
        {% endif %}

        <p class="residency">{{ person.residency | default: 'Woonplaats onbekend' }}</p>


{% if person.fav_spotify_track %}
  
  {% assign spotify_embed = person.fav_spotify_track 
    | replace: "https://open.spotify.com/", "https://open.spotify.com/embed/" %}
  <iframe 
    src="{{ spotify_embed }}" 
    width="100%" 
    height="152" 
    frameborder="0" 
    allowfullscreen 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
  </iframe>
{% else %}
  <h2>Geen track</h2>
{% endif %}

 


      </article>
    {% endfor %}
  </div>


{% render 'partials/foot.liquid', squads: squads %}